[Unit]
Description=Mise en cache de clé GPG

[Service]
User=kaisen
Group=kaisen
Type=forking
RemainAfterExit=yes
ExecStart=/opt/gpg-agent start
ExecStop=/opt/gpg-agent stop

[Install]
WantedBy=multi-user.target
